
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    html{
        font-size: 12px !important;
    }
}
@media only screen and (max-width: 767px) {
    html{
        font-size: 8px !important;
    }
}
@media only screen and (min-width: 1200px) {
    html{
        font-size: 16px !important;
    }
}

body {
    font-family: 'Roboto';
    background-color: #5F6FFF;
    color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: default;
}

.header {
    height: 7vh;
    background-color: #2E2EAB;
    color: white;
    padding: 1.5vh;
    text-align: center;
}

.title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.under_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user {
    text-align: left;
}

.author {
    align-self: flex-end;
    text-align: right;
}

.main {
    display: flex;
    flex-direction: column;
    height: 84vh;
    padding: 3vh;
    justify-content: space-between;
}

.welcome {
    font-size: 2em;
    margin-bottom: 1vh;
    text-align: center;
    width: 27vw;
    padding-left: 36.5vw;
}

.click {
    padding-left: 40vw;
    width: 20vw;
    color: rgba(255, 255, 255, 0.50);
}

ul {
    margin: 0;
    padding-top: 20vh;
}

li.intro{
    font-size: 2em;
    margin-left: 0;
    list-style-type: none;
    font-weight: bold;
}

ul li {
    font-size: 1.5em;
    margin-left: 2vw;
    margin-bottom: 0.5vh;
}

.login {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.login-introduce {
    font-size: 1em;
}

.login-button {
    border-radius: 1.5rem;
    background-color: white;
    color: #5F6FFF;
    border: none;
    padding: 1vh 1.5vw;
    cursor: pointer;
}

.login-button:hover {
    background-color: #eaecff;
}

.login-text {
    font-weight: bold;
}