<!DOCTYPE html>

<html lang="sk">
<head>
    <link rel="stylesheet" href="/css/instructions.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300,100' rel='stylesheet' type='text/css'>
  <title>Nástroj na vizualizáciu sémantickej metódy</title>
</head>

<body>
    <div class="header">
        <a href="/" class="title">Nástroj na vizualizáciu sémantickej metódy</a>
        <div th:if="${@projectController.isLogged()}" class="under_title">
            <a href="/account" class="user">USER</a>
            <div class="author">Autor: Matúš Ilčišin</div>
        </div>
        <div th:if="not ${@projectController.isLogged()}" class="author">Autor: Matúš Ilčišin</div>
    </div>
    <div class="main">
        <div class="intro">Návod na použitie:</div>
        <ol>
            <li>Na ďalšej strane zadajte vstup programu</li>
            <li>Prejdite na ďalšiu stranu, kde si môžete pozrieť vizualizáciu riešenia, obsah zásobníka, stav pamäte, posúvať sa krok po kroku alebo preskočiť na koniec vizualizácie</li>
        </ol>
        <a href="/input" class="continue">Zadať vstup</a>
    </div>
</body>    